*{
    box-sizing: border-box;
}

nav{
    background: rgb(128, 216, 162);
    
   
}


.banner{
    background-image: url("../img/fahd-khan-mrFdBdTlElk-unsplash.jpg");

    padding: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: #fff;
  
    
}

.banner a.btn{
    border-radius: 20px;
    background: rgb(117, 133, 102);
    padding: 10px;
    border: chartreuse;
    margin-left: 250px;

    
}

.banner a.btn:hover{
    background: rgb(135, 196, 75);
}

.b{
    color: rgb(135, 196, 75);
}

.us a.btn{
    border-radius: 20px;
    background: rgb(117, 133, 102);
    padding: 12px;
    border: chartreuse;
    margin-left: 50px;

    
}

.us a.btn:hover{
    background: rgb(135, 196, 75);
}

.card-text, .card-title{

    color:  rgb(135, 196, 75);
    font-size: 30px;
    text-align: center;
}

.c{
    color: rgb(135, 196, 75);
}

.lojafruta .btn{
    border-radius: 20px;
    padding-left: 18px;
    margin-left: 50px;


}










.rodape{
    background: rgb(117, 133, 102) ;
}